---
layout: layout-page
---
<h2 class="title is-2">My projects</h2>
<br>
<div class="columns">
    <% iteration = 3 %>
    <% data.projects.each do |p|%>

    <% if iteration >= 3 %>
</div>
<div class="columns">
    <% iteration = 0 %>
    <% end %>

    <div class="column is-4">
        <a href="<%= p.link %>">
            <div class="card fade">
                <div class="card-image">
                    <figure class="image">
                        <picture>
                            <source srcset="<%= '../images/'+p.image%>" type="image/webp"> 
                            <img src="<%= '/images/'+ p.image %>" width="auto" height="auto">
                        </picture> 
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">
                                <%= p.project_name %>
                            </p>
                        </div>
                    </div>

                    <div class="content">
                        <%= p.description %>
                        <br>
                        <div class="tags are-medium">
                            <% p.languages.each do |l|%>
                            <span class="tag">
                                <%= l %> </span>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <% iteration += 1 %>
    <% end %>
</div>
    <%= partial 'partials/gci' %>