---
layout: layout-page
---
<div class="columns">
    <div class="column is-one-third-desktop is-full-mobile">
        <h2 class="title is-2">Contact me</h2>
        <br>
        <form action="https://formspree.io/alpinus4@gmail.com" method="POST">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" name="name">
                </div>
            </div>

            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="email" name="email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                    <textarea class="textarea" name="message"></textarea>
                </div>
            </div>
            <div class="control">
                <button class="button is-link" id="submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>