
$primary-color: #364261;
$primary-color-lighter: #435277;
$primary-color-darker: #2f3954;

#header,
#canvas {
    position: absolute;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#header {
    z-index: 10;
    left: 50%;
    margin-top: 10%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    text-align: center;
}

#social-icons {
    padding-left: 1%;
    display: inline-block;
}

.icon-social {
    padding-left: 10px;
}

.tag {
    background-color: $primary-color-lighter !important;
    color: white !important;
    margin-top: 10px;
}

#view_work_btn {
    display: inline-block;
}

#content {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10rem;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

#submit {
    background-color: $primary-color-lighter;
    color: white;
}


.navbar,
#navMenu,
.navbar-item {
    background-color: $primary-color !important;
    color: white;
}

.navbar-link.is-active,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:hover {
    background-color: $primary-color-darker !important;
    color: white;
}


@media screen and (max-width: 480px) {
    #header {
        margin-top: 20%;
    }
}

/* ANIMATIONS */

.fade:hover {
    opacity: 0.8;
}
