<!DOCTYPE html>
<html lang="en">

<head>
    <%= partial 'partials/head' %>
</head>

<body>
    <div id="container">
        <%= partial 'partials/navbar' %>
        <div class="container" id="content">
            <%= yield %>
        </div>
        <%= partial 'partials/footer' %>
    </div>

    <%= partial 'partials/scripts' %>
</body>

</html>