<br>
<br>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Mateusz Grzonka &nbsp;<i class="far fa-copyright"></i>&nbsp;<%= Time.now.year %>
        </p>
    </div>
</footer>