<div class="columns">
    <div class="column is-5">
        <a href="https://codein.withgoogle.com/archive/2017/">
            <div class="card fade">
                <div class="card-image">
                    <figure class="image">
                    <picture>  
                        <source srcset="../images/golden-gate.jpg" type="image/webp">
                        <%= image_tag 'golden-gate.jpg', :width => '100px', :height => '100px' %>
                    </picture>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Google Code-In 2017</p>
                        </div>
                    </div>

                    <div class="content">
                        I was selected as a Grand Prize Winner by LibreHealth and thanks to that I had an occasion to
                        be in San Francisco.
                        <br>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="column"></div>
</div>