<nav class="navbar is-link">
    <div class="container">
        <div class="navbar-brand">

            <% if current_page.path == "index.html" %>
                <%= link_to config[:domain_name], '/', :relative => true, :class => "navbar-item", :style => "font-weight:bold;" %>
            <% else %>
                <%= link_to config[:domain_name], '../', :relative => true, :class => "navbar-item", :style => "font-weight:bold;" %>
            <% end %>
            
            <span class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">

                <% if current_page.path == "index.html" %>
                <%= link_to 'Home', '#', :relative => true, :class => "navbar-item is-active" %>
                <% else %>
                <%= link_to 'Home', '../', :relative => true, :class => "navbar-item" %>
                <% end %>

                <% if current_page.path == "projects/index.html" %>
                <%= link_to 'Projects', '#', :relative => true, :class => "navbar-item is-active" %>
                <% else %>
                <% if current_page.path == "contact-me/index.html" %>
                <%= link_to 'Projects', '../projects', :relative => true, :class => "navbar-item" %>
                <% else %>
                <%= link_to 'Projects', 'projects/', :relative => true, :class => "navbar-item" %>
                <% end %>
                <% end %>

                <% if current_page.path == "contact-me/index.html" %>
                <%= link_to 'Contact me', '#', :relative => true, :class => "navbar-item is-active" %>
                <% else %>
                <% if current_page.path == "projects/index.html" %>
                <%= link_to 'Contact me', '../contact-me', :relative => true, :class => "navbar-item" %>
                <% else %>
                <%= link_to 'Contact me', 'contact-me/', :relative => true, :class => "navbar-item" %>
                <% end %>
                <% end %>

            </div>
        </div>
    </div>
</nav>

<script type="text/javascript">
    (function () {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#' + burger.dataset.target);
        burger.addEventListener('click', function () {
            burger.classList.toggle('is-active');
            nav.classList.toggle('is-active');
        });
    })();
</script>