---
layout: layout-index
---

<div id="canvas">
</div>

<div id="header">
  <h1 class="title has-text-white">Hi, my name is Mateusz.</br> I’m a web developer from Poland.</h1>
  </br>

  <%= link_to 'View my work', 'projects/', :relative => true, :class => "button is-large", :id => "view_work_btn" %>
  <div id="social-icons">
    <a href="https://github.com/alpinus4" class="icon-social has-text-white"><i class="fab fa-github fa-3x"></i></a>
    <a href="https://gitlab.com/Alpinus4" class="icon-social has-text-white"><i class="fab fa-gitlab fa-3x"></i></a>
    <a href="https://www.linkedin.com/in/mateusz-grzonka/" class="icon-social has-text-white"><i class="fab fa-linkedin fa-3x"></i></a>
  </div>
</div>

<%= javascript_include_tag "main" %>

<style>
  html,
  body {
    overflow: hidden
  }
</style>